* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background-color: #1a191a;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  color: #ffffff;
}
#main-block {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.bg-pic {
  position: absolute;
  z-index: -10;
  height: 100%;
  width: 100%;
}

.bg-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glass {
  background: rgba(26, 25, 26, 0.4);
  backdrop-filter: blur(90px);
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: absolute;
  z-index: -9;
  clip-path: polygon(0 0, 100% 0, 100% 080%, 0 100%);
}

header {
  padding: 30px 40px;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.header-container {
  max-width: 1980px;
  margin: auto;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 30px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 100px;
}

.menu {
  color: #ffffff;
  font-size: 16px;
}

.nav-menu a {
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: #fff;
  text-decoration: none;
}

.nav-menu a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.3s ease-out;
  transform: scaleX(0);
  transform-origin: bottom right;
}

.nav-menu a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

/* Always block */

.main-block-text {
  max-width: 690px;
  width: 100%;
  height: fit-content;
}

.always-block-title {
  font-size: 80px;
  padding-top: 30%;
}

/* Our-Team block */

.our-team-content {
  padding-top: 150px;
  padding-bottom: 70px;
}
.orange {
  color: #ff6333;
}

.our-team-title {
  font-size: 50px;
  margin-bottom: 50px;
}

.our-team-cards {
  width: 925px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  gap: 85px;
}

.foto {
  margin-bottom: 16px;
}

.card-title {
  margin-bottom: 16px;
  color: #aaaaaa;
}

.card-text {
  line-height: 25px;
  color: #6b7280;
}

/* ================================== Sopin Block ==================================*/

/* left side */

.blue {
  color: #0e2d82;
}

.yellow {
  color: #fcc028;
}

#sopin {
  padding: 150px 0;
}

.sopin-content-left-side {
  margin-right: 180px;
}

.sopin-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sopin-content-left-side-title {
  font-size: 33px;
  font-weight: 300;
  color: #aaaaaa;
  text-align: right;
  padding-bottom: 5px;
}

.sopin-content-left-side-images {
  margin-left: 50px;
  position: relative;
}

.sopin-image {
  max-width: 535px;
  width: 100%;
  min-width: 300px;
  height: auto;
  object-fit: cover;
}

.bg-dots {
  position: absolute;
  top: -28px;
  left: -50px;
  z-index: -2;
  max-width: 150px;
  width: 100%;
  height: auto;
}

/* right side */

.sopin-content-right-side-text {
  margin-bottom: 170px;
}

.right-side-text-title {
  font-size: 50px;
  margin-bottom: 15px;
}
.right-side-text-second-title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.right-side-text-paragraph {
  width: 100%;
  max-width: 845px;
  height: auto;
  font-size: 16px;
  font-weight: 300;
}

.sopin-content-right-achievements {
  display: flex;
  gap: 15px;
}

.achievement {
  display: flex;
  margin-right: 15px;
}

.achievement-img {
  margin-right: 15px;
}

.achievement-img > img {
  max-width: 95px;
  width: 100%;
  min-width: 70px;
  height: auto;
}

.achievement-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 15px;
}

/* ================================== Overkin Block ==================================*/

/* progressbar */

.progress-container{
  text-align: center;
}

.circle-progress{
  position: relative;
  width: 80px;
  height: 80px;
  background: conic-gradient(#ff6333, 3.6deg, #928A97 0deg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-progress::before{
  content: '';
  position: absolute;
  height:55px;
  width: 55px;
  background-color: #1A191A;
  border-radius: 50%;
}

.progress-value{
  position: relative;
  color: #928A97;
}

.skill-text{
  color: #ff6333;
  display: block;
  padding-top: 15px;
}

/* endprogressbar */

#overkin {
  padding: 150px 0;
}

.overkin-content {
  display: flex;
}

/* left side */

.overkin-content-left-side-text {
  margin-bottom: 100px;
}

.left-side-text-title {
  font-size: 50px;
  margin-bottom: 15px;
}

.left-side-text-second-title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.left-side-text-paragraph {
  width: 100%;
  max-width: 845px;
  height: auto;
  font-size: 16px;
  font-weight: 300;
}

.overkin-left-side-skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  row-gap: 30px;
}


/* right side */
.overkin-content-right-side {
  margin-left: 180px;
}

.overkin-content-right-side-title {
  font-size: 33px;
  font-weight: 300;
  color: #aaaaaa;
  padding-bottom: 5px;
}

.overkin-content-right-side-images {
  margin-right: 50px;
  position: relative;
}

.overkin-image {
  max-width: 535px;
  width: 100%;
  min-width: 300px;
  height: auto;
  object-fit: cover;
}

.bg-dots-overkin {
  position: absolute;
  top: -28px;
  right: -50px;
  z-index: -1;
  max-width: 150px;
  width: 100%;
  height: auto;
}
